<div class="d-flex justify-content-center mb-3">
    <%= link_to "New Article", new_article_path, class:"btn btn-secondary btn-lg", id: "new-article-btn" %>
</div>
<% if @articles.empty? %>
  <div class="d-flex justify-content-center">
    <h1 id="no-articles">No Articles Created</h1>
  </div>
<% else %>
  <% @articles.each do |article| %>
  <div class="container mt-3">
    <div class="row d-flex justify-content-center">
    <div class="card col-sm-12 col-md-10 col-lg-8 px-0 mx-3">
      <div class="card-header ">
        <%= link_to article.title.capitalize, article_path(article), class:"title-link" %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div class="article-body">
            <%= truncate(article.body.to_plain_text, length: 500) %>
          </div>
          <footer class="blockquote-footer mt-3"><%= article.author %> - <cite title="datetime"><%= article.created_at.strftime("%b %d - %Y at %H h %M") %></cite></footer>
        </blockquote>
        <% if article.body.to_plain_text.length > 400 %>
            <%= link_to "See more", article_path(article), class:"btn btn-light mt-3" %>
          <% end %>
      </div>
    </div>
    </div>
   </div>
  <% end %>
<% end %>

