<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <a class="nav-title mr-3" href="/">Blog app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto ">
      <li ><%= link_to "Authors", new_article_path, class:"mr-3" %></li>
      <% unless user_signed_in? %>
        <li ><%= link_to "Sign up", new_user_registration_path, class:"mr-3" %></li>
        <li ><%= link_to "Sign in", new_user_session_path, class:"mr-3" %></li>
      <% end %>
      <% if user_signed_in? %>
        <p class="navbar-text"> Signed in as <%= "#{current_user.email}" %> </p>
      <% end %>
      <li ><%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"mr-3" %></li>
    </ul>
  </div>
</nav>
